<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<!--bootstrap4 offline css apply-->
		<link rel="stylesheet" href="{% static 'bootstrap css/bootstrap.min.css' %}">
		<!--userdefined css apply-->
		<link rel="stylesheet" type="text/css" href="{% static 'userdefined css/style.css' %}">
		<!--bootstrap4 offline jquery apply-->
		<script type="text/javascript" src="{% static 'bootstrap js/jquery.js' %}" ></script>
		<!--bootstrap4 offline js apply-->
		<script type="text/javascript" src="{% static 'bootstrap js/bootstrap.min.js' %}"></script>
		<!--user defined js-->
		<script type="text/javascript" src="{% static 'userdefined js/event.js' %}"></script>
		<title>company details</title>
	</head>
	<body class="pagecolor">
		<div class="d-flex" id="wrapper">
			<!-- Sidebar -->
			<div class="bg-light border-right" id="sidebar-wrapper">
				<div class="sidebar-heading">Sidebar Panel</div>
				<div class="list-group list-group-flush">
					<a href="companyDetails" class="list-group-item list-group-item-action bg-light">
						Add Company Details
					</a>
					<a href="adminpanel" class="list-group-item list-group-item-action bg-light">
						Add Notification
					</a>
					<a href="studRegistreDetails" class="list-group-item list-group-item-action bg-light">
						Check Registration Details
					</a>
					<a href="studentDetails" class="list-group-item list-group-item-action bg-light">
						Check Student Details
					</a>
				</div>
			</div>
			<!--start  body content-->
			<div id="page-content-wrapper">
				<!--start top of navbar-->
				<nav class="navbar navbar-expand-lg navbar-light border-bottom">
					<!--start left sidebar toggler button-->
					<button class="btn btn-primary" id="menu-toggle">
					<span class="navbar-toggler-icon"></span>
					</button>
					<!--end left sidebar toggler button-->
					<!--start navbar toggler button-->
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#my" aria-controls="my" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
					</button>
					<!--end navbar toggler button-->
					<!--start top of navbar-->
					<div class="collapse navbar-collapse" id="my">
						<ul class="navbar-nav ml-auto mt-2 mt-lg-1" style="width: 95%;">
							<li class="nav-item">
								<a class="nav-link" href="adminpanel">Home
									<span class="sr-only">(current)</span>
								</a>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="adminpanel" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Study Material
								</a>
								<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
									<li class="dropdown-submenu">
										<a class="dropdown-item" href="aptitude">
											Aptitude
										</a>
									</li>
									<li class="dropdown-submenu">
										<a class="dropdown-item dropdown-toggle" href="adminpanel">
											Programming
										</a>
										<ul class="dropdown-menu">
											<li>
												<a class="dropdown-item" href="cnotes">C</a>
											</li>
											<li>
												<a class="dropdown-item" href="cppnotes">C++</a>
											</li>
											<li class="dropdown-submenu">
												<a class="dropdown-item dropdown-toggle" href="adminpanel">Java</a>
												<ul class="dropdown-menu">
													<li>
														<a class="dropdown-item" href="corejavanotes">
															Core Java
														</a>
													</li>
													<li>
														<a class="dropdown-item" href="advancejavanotes">
															Advanced Java
														</a>
													</li>
												</ul>
											</li>
											<li>
												<a class="dropdown-item" href="pythonnotes">
													Python
												</a>
											</ul>
										</li>
									</ul>
								</li>
								<li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Online Test</a>
									<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
										<li class="dropdown-submenu">
											<a class="dropdown-item dropdown-toggle" href="adminpanel">
												Aptitude
											</a>
											<ul class="dropdown-menu">
												<li>
													<a class="dropdown-item" href="arithmetic">
														Arithmetic
													</a>
												</li>
												<li>
													<a class="dropdown-item" href="datainterpretation">
														Data Interpretation
													</a>
												</li>
												<li>
													<a class="dropdown-item" href="logical">
														Logical
													</a>
												</li>
											</ul>
										</li>
										<li class="dropdown-submenu">
											<a class="dropdown-item dropdown-toggle" href="adminpanel">
												Programming
											</a>
											<ul class="dropdown-menu">
												<li>
													<a class="dropdown-item" href="cquiz">C</a>
												</li>
												<li>
													<a class="dropdown-item" href="cppquiz">C++</a>
												</li>
												<li class="dropdown-submenu">
													<a class="dropdown-item dropdown-toggle" href="adminpanel">Java</a>
													<ul class="dropdown-menu">
														<li>
															<a class="dropdown-item" href="corejavaquiz">
																Core Java
															</a>
														</li>
														<li>
															<a class="dropdown-item" href="advancejavaquiz">
																Advanced Java
															</a>
														</li>
													</ul>
												</li>
												<li>
													<a class="dropdown-item" href="pythonquiz">Python</a>
												</li>
											</ul>
										</li>
									</ul>
								</li>
								<li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Student Corner</a>
									<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
										<li class="dropdown-submenu">
											<a class="dropdown-item" href="adminpanel">
												Progess
											</a>
										</li>
										<li class="dropdown-submenu">
											<a class="dropdown-item" href="adminpanel">
												Markes
											</a>
										</li>
										<li class="dropdown-submenu">
											<a class="dropdown-item" href="adminpanel">
												Resume
											</a>
										</li>
									</ul>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="contactus">Contact us</a>
								</li>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
								&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
								&emsp;&emsp;&emsp;&emsp;
								<form class="form-inline my-2 my-lg-0">
									<ul class="navbar-nav mr-auto">
										<li class="nav-item dropdown">
											<a class="nav-link dropdown-toggle" href="adminpanel" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
												Hi...{{username}}
											</a>
											<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
												<li class="dropdown-submenu">
													<a class="dropdown-item" href="adminpanel">
														View
													</a>
												</li>
												<li class="dropdown-submenu">
													<a class="dropdown-item" href="adminpanel">
														Edit
													</a>
												</li>
												<li class="dropdown-submenu">
													<a class="dropdown-item" href="logout">
														Logout
													</a>
												</li>
											</ul>
										</li>
									</ul>
								</form>
							</ul>
						</div>
						<!--end top of navbar-->
					</nav>
					<!--end top of navbar-->
					<!--start body container quize question and answer-->
					<div class="container-fluid">
						<div class="row">
							<div class="text-center table-responsive">
								<label class="notesstyle">Add Company Details</label>
								<form action="companyDetails" method="POST">
									{% csrf_token %}
									<table class="table table-bordered">
									<thead>
										<tr>
											<th class="">
												Name
											</th>
											<th class="">
												Address
											</th>
											<th class="">
												Contactno
											</th>
											<th class="">
												Emailaddress
											</th>
											<th class="">
												Description
											</th>
										</tr>
									</thead>
									<tbody>
										<tr>

											<td>
												<div class="form-group">
													<label for="year">
													</label>
													<input type="text" name="CompName" class="form-control form-control-lg" placeholder="Your answer">
												</div>
											</td>
											<td>
												<div class="form-group">
													<label for="year">
													</label>
													<input type="text" name="CompAddress" class="form-control form-control-lg" placeholder="Your answer">
												</div>
											</td>
											<td>
												<div class="form-group">
													<label for="year">
													</label>
													<input type="text" name="CompPhone" class="form-control form-control-lg" placeholder="Your answer">
												</div>
											</td>
											<td>
												<div class="form-group">
													<label for="year">
													</label>
													<input type="text" name="CompEmail" class="form-control form-control-lg" placeholder="Your answer">
												</div>
											</td>
											<td>
												<div class="form-group">
													<label for="year">
													</label>
													<input type="text" name="CompDetails" class="form-control form-control-lg" placeholder="Your answer">
												</div>
											</td>
										</tr>
										<tr>
											<td></td>
											<td></td>
											<td></td>
											<td></td>
											<td>
												<button type="submit" class="btn btn-primary btn-sm buttonsubmit btn mt-3 btn-block rounded-pill text-uppercase tab">Add
												</button>
											</td>
										</tr>
									</tbody>
								</table>
									{{info}}
								</form>
							</div>
						</div>
					</div>
					<!--end body container quize question and answer-->
				</div>
			</div>
			<!--start menu toggle script -->
			<script>
			$("#menu-toggle").click(function(e)
			{
			e.preventDefault();
			$("#wrapper").toggleClass("toggled");
			});
			</script>
			<!--end menu toggle script -->
		</body>
	</html>